################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/ProjectSettings.json
/.vs/TestHarness/v16/ipch/AutoPCH/4589686a28e57d23
/.vs/TestHarness/v16
