################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/ProjectSettings.json
/.vs/TestHarness/v16/ipch/AutoPCH/4589686a28e57d23
/.vs/TestHarness/v16
/.vs/VSWorkspaceState.json
/Debug/Testharness.tlog/unsuccessfulbuild
/Debug/Testharness.tlog/Testharness.lastbuildstate
/Debug/Testharness.tlog/link.write.1.tlog
/Debug/Testharness.tlog/link.read.1.tlog
/Debug/Testharness.tlog/link.command.1.tlog
/Debug/Testharness.tlog/link-rc.write.1.tlog
/Debug/Testharness.tlog/link-rc.read.1.tlog
/Debug/Testharness.tlog/link-cvtres.write.1.tlog
/Debug/Testharness.tlog/link-cvtres.read.1.tlog
/Debug/Testharness.tlog/CL.write.1.tlog
/Debug/Testharness.tlog/CL.read.1.tlog
/Debug/Testharness.tlog/CL.command.1.tlog
/Debug/vc142.pdb
/Debug/Testharness.pdb
/Debug/TestHarness.obj
/Debug/Testharness.log
/Debug/main.obj
/Debug/Logger.obj
/Testharness.vcxproj.user
/Testharness.vcxproj.filters
/Testharness.vcxproj
/Testharness.sln
/Parry_Brady_Jenkins_TestHarness_Phase3.zip
